---
layout: page
---

<html>

<head>
  <style>
    div.gallery {
      border: 0px solid #ccc;
    }

    div.gallery:hover {
      border: 0px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }

    * {
      box-sizing: border-box;
    }

    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>

<body>

<div class="home">
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.categories.art_post -%}
      <li>
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src={{post.image | relative }} />
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>

  </body>
  
</html>
