---
layout: page
---

<style>
  div.gallery {
    border: 0px solid #ccc;
  }

  div.gallery:hover {
    border: 0px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="gallery">
  <div class="responsive">
  {%- if site.posts.size > 0 -%}

      {%- for post in site.categories.art_post -%}
   
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src={{post.image | relative }} />
          </a>
        </h3>
      
      {%- endfor -%}

  {%- endif -%}
</div>
</div>