---
layout: page
---

<style>

.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
</style>

<main class="grid">

  {%- if site.posts.size > 0 -%}

      {%- for post in site.categories.art_post -%}
  
       
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src={{post.image | relative }} />
          </a>
      
      
      {%- endfor -%}

  {%- endif -%}

</main>

